<div class="accordion-item">
  <button class="accordion-trigger"><span>{{ item.q }}</span><span class="plus">+</span></button>
  <div class="accordion-panel"><div class="accordion-panel-inner">{{ item.a }}</div></div>
</div>
