<div class="org-card reveal{% if member.lead %} lead{% endif %}">
  <div class="org-avatar">{% set icon = "user" %}{% include "partials/icon.njk" %}</div>
  <h4>{{ member.name }}</h4>
  <span>{{ member.role }}</span>
</div>
