<div class="resource-card reveal">
  <div class="r-icon">{{ res.icon }}</div>
  <h4>{{ res.title }}</h4>
  <p>{{ res.desc }}</p>
  <a href="#" class="btn btn-sm btn-outline">Unduh {{ res.ext if res.ext else "Berkas" }}</a>
</div>
